
.header_outer_container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;  /* default */
  height: 10vh;
  color: white;
  transition: background-color 0.4s ease-in-out;
  z-index: 20;
  transition: all 0.4s ease;
  width: 100%;
}
.header_black {
  background-color: rgba(20, 20, 20, 1);
}
.header_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Desktop Menu */
.desktop_menu {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  cursor: pointer;
}

/* MOBILE BROWSE BUTTON (HIDDEN ON DESKTOP) */
.mobile_browse {
  display: none;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
}

/* MOBILE DROPDOWN */
.mobile_menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 20px;
  padding: 15px;
  background: rgba(0,0,0,0.85);
  border-radius: 8px;
  list-style: none;
  gap: 15px;
  width: 200px;
  z-index: 999;
}

.header_right ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  cursor: pointer;
}

/* -------------------------------------
    RESPONSIVE BEHAVIOR (IMPORTANT)
------------------------------------- */
@media (max-width: 900px) {

  /* Hide Desktop menu on mobile */
  .desktop_menu {
    display: none;
  }

  /* Show Browse button */
  .mobile_browse {
    display: flex;
  }

  /* Show Mobile Dropdown menu */
  .mobile_menu {
    display: flex;
  }
}


