.banner {
    height: 80vh;
    margin-bottom: -80px;
    color: white;
    object-fit: contain;
}

.banner__contents {
    margin-left: 30px;
    padding-top: 190px;
    max-width: 600px;
}

.banner__title {
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 360px;
    height: 80px;
}
.banner__button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 1rem 3rem;
    margin-right: 2rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.play {
    color: #000;
    background-color: #fff;
}

.banner__button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner__fadeBottom {
    height: 40vh;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgb(37, 37, 37, 0.91),
        #111
    );
}

@media (max-width: 900px) {
  .banner {
    height: 60vh;
  }

  .banner_title {
    font-size: 2.3rem;
  }

  .banner_description {
    font-size: 0.9rem;
    width: 80%;
  }

  .banner_button {
    padding: 0.4rem 1.5rem;
  }

.banner__contents {
    padding-top: 100px;
}


}

